[{elvis,
  [{config,
    [#{dirs => ["src"],
       filter => "*.erl",
       ruleset => erl_files,
       rules =>
           [%% Line length is the job of the formatter
            {elvis_text_style, line_length, #{limit => 1_000}},
            %% We're exposing records
            {elvis_style, private_data_types, #{apply_to => []}},
            %% jose does not declare types
            {elvis_style, no_spec_with_records, #{ignore => [oidcc_jwt_util]}},
            %% Increase min complexity for repeating code
            {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}]},
     #{dirs => ["test"],
       filter => "*.erl",
       ruleset => erl_files,
       rules =>
           [%% Line length is the job of the formatter
            {elvis_text_style, line_length, #{limit => 1_000}},
            %% Tests are ok to repeat
            {elvis_style, dont_repeat_yourself, #{min_complexity => 10_000}}]},
     #{dirs => ["."],
       filter => "rebar.config",
       ruleset => rebar_config},
     #{dirs => ["."],
       filter => "elvis.config",
       ruleset => elvis_project}]}]}].
