{erl_opts, [warn_unused_import, warn_export_vars, verbose, report, debug_info]}.

{minimum_otp_vsn, "26"}.

{deps, [
    {telemetry, "~> 1.2"},
    {telemetry_registry, "~> 0.3.1"},
    {jose, "~> 1.11"}
]}.

{project_plugins, [
    %% Revert back to released version when this PR is merged & released:
    %% https://github.com/markusn/coveralls-erl/pull/36
    {coveralls, ".*",
        {git, "https://github.com/RoadRunnr/coveralls-erl.git", {branch, "feature/git-info"}}},
    %% Revert back to released version when this PR is merged & released:
    %% https://github.com/WhatsApp/erlfmt/pull/351
    {erlfmt, ".*", {git, "https://github.com/maennchen/erlfmt.git", {branch, "support_maybe"}}},
    rebar3_hank,
    rebar3_lint
]}.

{validate_app_modules, true}.

{edoc_opts, [
    {doclet, edoc_doclet_chunks},
    {layout, edoc_layout_chunks},
    {preprocess, true},
    {dir, "_build/dev/lib/oidcc/doc"}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "~> 0.9.2"},
            {jsx, "~> 3.1"}
        ]},
        {cover_enabled, true},
        {cover_export_enabled, true},
        {coveralls_coverdata, "_build/test/cover/*.coverdata"},
        {coveralls_service_name, "github"},
        {cover_opts, [verbose]}
    ]}
]}.

{hank, [
    {ignore, [
        {"test/**/*_SUITE.erl", [unnecessary_function_arguments]},
        "include/**/*.hrl",
        "certification/**/*",
        "deps/**/*"
    ]}
]}.

{erlfmt, [write]}.

{shell, [{apps, [oidcc]}]}.
