{minimum_otp_vsn, "18.3"}.

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
        {erljwt, "2.0.4"}
       ]
}.

{plugins, [
           {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {branch, "master"}}},
           rebar3_run
          ]}.

{profiles, [
            {test, [
                    {deps, [meck]},
                    {cover_enabled, true}
                   ]}
           ]}.

{elvis, [
         #{dirs => ["."],
           filter => "elvis.config",
           ruleset => elvis_config },
         #{dirs => ["src"],
           filter => "*.erl",
           ruleset => erl_files,
           rules => [{elvis_style, invalid_dynamic_call, #{ignore => [oidcc_client]}}]},
         #{dirs => ["."],
           filter => "Makefile",
           ruleset => makefiles },
         #{dirs => ["."],
           filter => "rebar.config",
           ruleset => rebar_config }
        ] }.
