{minimum_otp_vsn, "21.3"}.

{erl_opts, [debug_info]}.

{deps, [
        % TODO: Switch back to released version
        {erljwt, {git, "https://github.com/jshmrtn/erljwt.git", {branch, "updates"}}}
       ]
}.

{plugins, [
           rebar3_lint,
           rebar3_format
          ]}.

{profiles, [
            {test, [
                    {deps, [{meck, "0.9.2"}, {certifi, "2.7.0"}]},
                    {cover_enabled, true}
                   ]}
           ]}.

{elvis, [
         #{dirs => ["."],
           filter => "elvis.config",
           ruleset => elvis_config },
         #{dirs => ["src"],
           filter => "*.erl",
           ruleset => erl_files,
           rules => [{elvis_style, invalid_dynamic_call, #{ignore => [oidcc_client]}}]},
         #{dirs => ["."],
           filter => "Makefile",
           ruleset => makefiles },
         #{dirs => ["."],
           filter => "rebar.config",
           ruleset => rebar_config }
        ] }.

{format, [
          {files, ["src/*.erl", "test/*.erl"]},
          {formatter , default_formatter}
]}.
