{minimum_otp_vsn, "18.1"}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{deps, [
       {oidcc, {git, "https://github.com/Erlang-Openid/oidcc.git", {branch, "master"}}},
       {oidcc_cowboy, {git, "https://github.com/indigo-dc/oidcc_cowboy.git", {branch, "master"}}},
       {eper, "0.94.0"},
       {lager, "3.2.1"}
       ]
}.

{relx, [{release, {conformance, "1.0.1"},
         [conformance]},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"},
	{include_erts, true},
        {include_src, false},
        {extended_start_script, true}
	]}.

{plugins, [
         rebar3_run
         ]}.
