[
{kernel,[{start_timer,true}]},
{lager, [
     {log_root, "./log/"},
     {handlers, [
                {lager_console_backend, info},
                {lager_file_backend, [{file, "info.log"}, {level, info}]}
                ]}
     ]},
{oidcc, [
        {cacertfile, "/etc/ssl/certs/ca-certificates.crt"},
        {cert_depth, 2},
        {provider_max_tries, 1},
        {retrieve_userinfo, true}
        ] }
].
