{minimum_otp_vsn, "18.1"}.

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
       {cowboy, "1.0.4"},
       {eper, "0.94.0"},
       {erlydtl, "0.11.1"},
       {oidcc, "0.1.0"}
       ] 
}.

{relx, [{release, {basic_client, "0.1.0"},
         [basic_client]},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"},
        {dev_mode, true},
	{include_erts, true},
        {include_src, true},
        {extended_start_script, true}
	]}.

{provider_hooks, [
                 {pre, [{compile, {erlydtl, compile}}]}
                 ]}.

{plugins, [
	  {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
	  rebar3_run
	  ]}.

